.about-page {
    // background-color: #fff;
    // display: flex;
    // flex-wrap: wrap;

    .about {
        flex: 1;
        padding: 3rem 5rem 0;
        color: $color-header;

        .description{
            padding-bottom: 2rem;
            h1 {
                text-align: center;
                font-family: 'Roboto', sans-serif;
            }
    
            h2{
                margin-bottom: 0;
                font-family: 'Roboto', sans-serif;
            }
    
            h5{
                margin-top: 0;
                font-family: 'Roboto', sans-serif;
            }

            p{
                margin: 2.5rem 0;
            }
        }
        .button{
            a{
                margin-right: 2rem;
            }
            @include button($color-info-bg);
        }
        
    }
}