.about-page {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;

    .info {
        width: 25%;
        background-color: $color-info-bg;

        img {
            max-width: 100%;
            height: auto;
        }

        .general-info {
            color: rgb(236, 236, 236);
            padding: 2rem 3.125rem;

            h2 {
                text-align: center;
                margin-top: 0;
                font-family: 'Roboto', sans-serif;
            }

            ul li {
                padding: 0.625rem;
                font-weight: bold;

                i {
                    margin-right: 1.25rem;
                    color: $color-info;
                }

                .fa-envelope,
                .fa-laptop-code {
                    margin-right: 1rem;
                }

                .fa-mobile-alt {
                    margin-right: 1.5rem;
                }

                div {
                    display: inline-block;

                    span {
                        color: $color-info;
                    }

                    a {
                        color: #fff;

                        &:hover {
                            color: $color-info;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .social-info {
            text-align: center;

            a {
                color: #fff;

                i {
                    margin-right: 1rem;

                    &:hover {
                        color: $color-info;
                        -moz-transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        -ms--transform: rotate(360deg);
                        transform: rotate(360deg);
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -o-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }

    .about {
        flex: 1;
        padding: 3rem 5rem 0;
        color: $color-header;

        .description{
            padding-bottom: 1rem;
            h1 {
                color: $color-home;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                // font-size: 3rem;
            }
    
            h2{
                margin-bottom: 0;
                font-family: 'Roboto', sans-serif;
            }
    
            h5{
                margin-top: 0;
                font-family: 'Roboto', sans-serif;
            }
        }

        .services{
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;

                li{
                    text-align: center;
                    p{
                        padding: 0 1.5rem;
                    }
                }
            }
        }
    }
}