// animation rotate 
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

// animation skills bar html
@keyframes html {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-webkit-keyframes html {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-moz-keyframes html {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-o-keyframes html {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

// animation skills bar css
@keyframes css {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-webkit-keyframes css {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-moz-keyframes css {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-o-keyframes css {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

// animation skills bar bootstrap
@keyframes bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-webkit-keyframes bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-moz-keyframes bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-o-keyframes bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

// animation skills bar less
@keyframes less {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes less {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes less {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes less {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

// animation skills bar sass
@keyframes sass {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes sass {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes sass {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes sass {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

// animation skills bar javascript
@keyframes javascript {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes javascript {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes javascript {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes javascript {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

// animation skills bar jquery
@keyframes jquery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-webkit-keyframes jquery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-moz-keyframes jquery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-o-keyframes jquery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

// animation skills bar express
@keyframes express {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-webkit-keyframes express {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-moz-keyframes express {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-o-keyframes express {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

// animation skills bar react
@keyframes react {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes react {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes react {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes react {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

// animation skills bar angular
@keyframes angular {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-webkit-keyframes angular {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-moz-keyframes angular {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-o-keyframes angular {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

// animation skills bar php
@keyframes php {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-webkit-keyframes php {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-moz-keyframes php {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-o-keyframes php {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

// animation skills bar symfony
@keyframes symfony {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-webkit-keyframes symfony {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-moz-keyframes symfony {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-o-keyframes symfony {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

// animation skills bar wordpress
@keyframes wordpress {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes wordpress {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes wordpress {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes wordpress {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

// animation skills bar jekyll
@keyframes jekyll {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes jekyll {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes jekyll {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes jekyll {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

// animation filtering with fadeIn 
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}