// @keyframes type {
//     0% {
//         width: 0;
//     }

//     99.9% {
//         border-right: .15em solid blue;
//     }

//     100% {
//         border: none;
//     }
// }

// @-webkit-keyframes type {
//     0% {
//         width: 0;
//     }

//     99.9% {
//         border-right: .15em solid blue;
//     }

//     100% {
//         border: none;
//     }
// }

// @keyframes type2 {
//     0% {
//         width: 0;
//     }

//     1% {
//         opacity: 1;
//     }

//     99.9% {
//         border-right: .15em solid blue;
//     }

//     100% {
//         opacity: 1;
//         border: none;
//     }
// }

// @-webkit-keyframes type2 {
//     0% {
//         width: 0;
//     }

//     1% {
//         opacity: 1;
//     }

//     99.9% {
//         border-right: .15em solid blue;
//     }

//     100% {
//         opacity: 1;
//         border: none;
//     }
// }

// @keyframes type3 {
//     0% {
//         width: 0;
//     }

//     1% {
//         opacity: 1;
//     }

//     100% {
//         opacity: 1;
//     }
// }

// @-webkit-keyframes type3 {
//     0% {
//         width: 0;
//     }

//     1% {
//         opacity: 1;
//     }

//     100% {
//         opacity: 1;
//     }
// }

// @keyframes blink {
//     50% {
//         border-color: transparent;
//     }
// }

// @-webkit-keyframes blink {
//     50% {
//         border-color: tranparent;
//     }
// }


// animation rotate 
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

// animation skills bar html
@keyframes html {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-webkit-keyframes html {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-moz-keyframes html {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-o-keyframes html {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

// animation skills bar css
@keyframes css {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-webkit-keyframes css {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-moz-keyframes css {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-o-keyframes css {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

// animation skills bar bootstrap
@keyframes bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-webkit-keyframes bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-moz-keyframes bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-o-keyframes bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

// animation skills bar javascript
@keyframes javascript {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes javascript {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes javascript {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes javascript {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

// animation skills bar jquery
@keyframes jquery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-webkit-keyframes jquery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-moz-keyframes jquery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-o-keyframes jquery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

// animation skills bar express
@keyframes express {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-webkit-keyframes express {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-moz-keyframes express {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-o-keyframes express {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

// animation skills bar react
@keyframes react {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes react {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes react {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes react {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

// animation skills bar angular
@keyframes angular {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-webkit-keyframes angular {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-moz-keyframes angular {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-o-keyframes angular {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

// animation skills bar php
@keyframes php {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-webkit-keyframes php {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-moz-keyframes php {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-o-keyframes php {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

// animation skills bar symfony
@keyframes symfony {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-webkit-keyframes symfony {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-moz-keyframes symfony {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-o-keyframes symfony {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

// animation skills bar wordpress
@keyframes wordpress {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes wordpress {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes wordpress {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes wordpress {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

// animation skills bar jekyll
@keyframes jekyll {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes jekyll {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes jekyll {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes jekyll {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}