.certificates-page {
    .certificates {
        flex: 1;
        padding: 3rem 5rem 0;
        color: $color-header;
        @include scrollbar;

        h1 {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 4rem;
        }

        .gallery {
            // display: grid;
            // grid-template-columns: repeat(9, 1fr);
            // grid-template-rows: repeat(8, 5vw);
            // grid-gap: 1.5rem;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 1rem;
            align-items: stretch;

            .gallery-item {
                padding-bottom: 1rem;
                text-align: center;

                .gallery-img {
                    max-width: 100%;
                }

                figcaption{
                    @include button($color-home);
                }
            }

            // .gallery-item-1 {
            //     grid-column-start: 1;
            //     grid-column-end: 4;
            //     grid-row-start: 1;
            //     grid-row-end: 5;
            // }

            // .gallery-item-2 {
            //     grid-column-start: 4;
            //     grid-column-end: 7;
            //     grid-row-start: 1;
            //     grid-row-end: 5;
            // }

            // .gallery-item-3 {
            //     grid-column-start: 7;
            //     grid-column-end: 10;
            //     grid-row-start: 1;
            //     grid-row-end: 5;
            // }

            // .gallery-item-4 {
            //     grid-column-start: 1;
            //     grid-column-end: 4;
            //     grid-row-start: 5;
            //     grid-row-end: 9;
            // }

            // .gallery-item-5 {
            //     grid-column-start: 4;
            //     grid-column-end: 7;
            //     grid-row-start: 5;
            //     grid-row-end: 9;
            // }
        }
    }
}