.contacts-page {

    .contacts {
        flex: 1;
        padding: 3rem 5rem 0;
        color: $color-header;

        h1 {
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }

        form {
            width: 50%;
            margin: 0 auto;
            padding: 2rem;

            input[type=text],
            input[type=email],
            textarea {
                width: 100%;
                padding: 0.625rem 1rem;
                margin-top: 0.625rem;
                margin-bottom: 1rem;
                resize: vertical;
                outline: none;
                border: none;
                border-bottom: 1px solid #ddd;
                background: transparent;
            }

            textarea {
                resize: none;
                overflow: hidden;
            }

            // input:valid {
            //     border-bottom: 2px solid #090;
            // }

            // input:invalid {
            //     border-bottom: 2px solid #f00;
            // }

            button {
                width: 100%;
                padding: 1rem;
                margin-top: 2rem;
                border: 2px solid $color-info-bg;
                color: $color-info-bg;
                background-color: #fff;
                border-radius: 0.3rem;
                font-size: 1rem;

                &:hover {
                    color: #fff;
                    background-color: $color-info-bg;
                }
            }
        }
    }
}