.home-page {
    display: flex;
    // align-items: center;
    // justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("./../assets/images/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    .profile-image-holder {
        flex: 1;

        .profile-image {
            position: relative;
            float: left;
            top: 25%;
            left: 45%;
            transform: translate(-25%, -45%);
            margin: 10rem auto;

            &:before {
                display: block;
                content: "";
                width: 15rem;
                height: 4rem;
                position: absolute;
                top: -0.9rem;
                right: -0.5rem;
                border-top: 1rem solid $color-home;
                border-right: 1rem solid $color-home;

                // @include profile-image-border;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.heading {
    flex: 1;
    // position: relative;
    // top: 30%;
    // -ms-transform: translateY(30%);
    // -webkit-transform: translateY(30%);
    // transform: translateY(30%);

    div.animated-heading {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
            // TO DO
            font-weight: bold;
            vertical-align: middle;
            font-size: 2rem;
            font-family: 'Coming Soon', cursive;
            color: $color-home;

            &:nth-child(1) {
                // width: 1.5em;
                // -webkit-animation: type 2s steps(3, end);
                // animation: type 2s steps(3, end);
                // -webkit-animation-fill-mode: forwards;
                // animation-fill-mode: forwards;
            }

            &:nth-child(2) {
                // width: 7.5em;
                // opacity: 0;
                // -webkit-animation: type2 2s steps(15, end);
                // animation: type2 2s steps(15, end);
                // -webkit-animation-delay: 2s;
                // animation-delay: 2s;
                // -webkit-animation-fill-mode: forwards;
                // animation-fill-mode: forwards;
            }

            &:nth-child(3) {
                // width: 11em;
                // opacity: 0;
                // -webkit-animation: type3 2s steps(22, end), blink .5s step-end infinite alternate;
                // animation: type3 2s steps(22, end), blink .5s step-end infinite alternate;
                // -webkit-animation-delay: 4s;
                // animation-delay: 4s;
                // -webkit-animation-fill-mode: forwards;
                // animation-fill-mode: forwards;

                margin-bottom: 3.75rem;
            }

        }

        .button {
            @include button($color-home);
        }

    }
}