.home-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("./../assets/images/main-bg3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .profile-image-holder {
       
        position: relative;

        .profile-image {
            margin: 9rem auto;
            padding-right: 8rem;
            text-align: center;

            &:before {
                display: block;
                content: "";
                width: 14rem;
                height: 4rem;
                position: absolute;
                top: 8rem;
                right: 7rem;
                border-top: 1rem solid $color-home;
                border-right: 1rem solid $color-home;
            }

            img {
                width: 100%;
                max-width: 400px;
                height: auto;
            }
        }
    }

    .heading {

        div.heading-home {

            h2 {
                font-weight: bold;
                vertical-align: middle;
                font-size: 2rem;
                font-family: 'Coming Soon', cursive;
                color: $color-home;

                &:nth-child(3) {
                    margin-bottom: 3.75rem;
                }

            }

            &.bg-heading h2 {
                font-family: 'Dacha', sans-serif;
            }

            .button {
                @include button($color-home);
            }

        }
    }
}