body {
    background-color: white;
}

main {
    section {
        width: 80%;
        margin: 0 auto;
        background-color: azure;
    }

    .home-page {
        display: flex;

        div:first-child {
            div:first-child {
                // @include profile-image-border(4rem, 4rem, -1.5em, 6.5rem, 6.5rem, -1.5rem);

                .profile-image-holder {
                    width: 50%;
                    margin: 10rem auto;

                    @include profile-image-border;

                    img {
                        max-width: 100%;
                    }
                }
            }

        }

        div.animated-typing {
          text-align: center;
            p {
                border-right: .15em solid blue;
                white-space: nowrap;
                overflow: hidden;
                font-weight: bold; 
                vertical-align: middle;
                font-size: 2rem;

                text-align: center;
  position: relative;
  top: 30%;
  -ms-transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);

            &:nth-child(1) {
                width: 2em;
                -webkit-animation: type 2s steps(3, end);
                animation: type 2s steps(3, end);
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
              }

            &:nth-child(2) {
                    width: 7.5em;
                    opacity: 0;
                    -webkit-animation: type2 2s steps(15, end);
                    animation: type2 2s steps(15, end);
                    -webkit-animation-delay: 2s;
                    animation-delay: 2s;
                    -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
                  }
                  
            &:nth-child(3) {
                    width: 10em;
                    opacity: 0;
                    -webkit-animation: type3 2s steps(22, end), blink .5s step-end infinite alternate;
                    animation: type3 2s steps(22, end), blink .5s step-end infinite alternate;
                    -webkit-animation-delay: 4s;
                    animation-delay: 4s;
                    -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
                  }
                  
            } 


                // &:first-child {
                //     animation: type 8s steps(60, end);
                // }
                
                // &:nth-child(2) {
                //     animation: type2 10s steps(20, end);

                // }
            

            // @keyframes type {
            //     from {
            //         width: 0;
            //     }
            // }

            // @keyframes type2 {
            //     0% {
            //         width: 0;
            //     }

            //     50% {
            //         width: 0;
            //     }

            //     100% {
            //         width: 100;
            //     }
            // }

        }

    }
}

@keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid blue;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid blue;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid blue;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid blue;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
