@mixin profile-image-border($width: 15rem, $height: 4rem, $top: -0.9rem, $right: -0.5rem, $left: -0.5rem, $bottom: -0.2rem) {
    position: relative;

    // &:after {
    //     display: block;
    //     content: "";
    //     width: $width;
    //     height: $height;
    //     position: absolute;
    //     bottom: $bottom;
    //     right: $right;
    //     border-bottom: 0.5rem solid $color3;
    //     border-right: 0.5rem solid $color3;
    // }

    &:before {
        display: block;
        content: "";
        width: $width;
        height: $height;
        position: absolute;
        top: $top;
        right: $left;
        border-top: 1rem solid $color-home;
        border-right: 1rem solid $color-home;
    }
}

@mixin button($color: white) {
    a {
        padding: 0.625rem 1.25rem;

        border: 2px solid $color;
        color: $color;
        background-color: #fff;
        border-radius: 0.3rem;

        &:hover {
            color: #fff;
            background-color: $color;
        }
    }
}