.projects-page {
    .projects {
        flex: 1;
        padding: 3rem 5rem 0;
        @include scrollbar;

        h1 {
            @include page-heading;
        }

        .projects-filter {
            text-align: center;
            padding: 0 5rem 2rem;

            .btn-filter {
                padding: 1rem 1.25rem;
                border: 2px solid #c9c6be;
                color: #b3b0aa;
                background-color: #fff;
                border-radius: 0.3rem;
                font-size: 0.875rem;
                margin-bottom: 0.625rem;
                font-weight: bold;
                cursor: pointer;
                transition: all .5s ease;

                &:hover {
                    color: #fff;
                    background-color: #c9c6be;
                }

                &.btn-active {
                    color: #fff;
                    background-color: #929089;
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 46%;
                margin-right: 2rem;
                margin-bottom: 2rem;
                text-align: center;
                position: relative;
                overflow: hidden;
                -webkit-animation: fadein 2s;
                /* Safari, Chrome and Opera > 12.1 */
                -moz-animation: fadein 2s;
                /* Firefox < 16 */
                -ms-animation: fadein 2s;
                /* Internet Explorer */
                -o-animation: fadein 2s;
                /* Opera < 12.1 */
                animation: fadein 2s;

                &:hover .overlay {
                    opacity: 1;
                }

                &:hover .card {
                    top: 40%;
                    left: 50%;
                    opacity: 1;
                }

                &:hover .card-button {
                    top: 70%;
                    left: 50%;
                    opacity: 1;
                }

                img {
                    max-width: 100%;
                    height: auto;
                    -moz-transition: transform 0.3s ease-in-out;
                    -webkit-transition: transform 0.3s ease-in-out;
                    transition: transform 0.3s ease-in-out;
                }

                .overlay {
                    @include text-overlay();
                    bottom: 0;
                    right: 0;
                    height: 100%;
                    background-color: rgba(23, 103, 121, 0.6);
                    // background-color: rgba(201, 198, 190, 0.8);
                }

                .card {
                    color: #fff;
                    @include text-overlay(20%, 50%, 100%, 0.3s);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

                .card-button {
                    @include text-overlay(80%, 50%, 100%, 0.3s);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);

                    a {
                        text-transform: uppercase;
                        color: #fff;
                        border: 1px solid #fff;
                        background: transparent;
                        border-radius: 3px;
                        padding: 0.625rem 1rem;

                        &:hover {
                            background: #fff;
                            border: $color-info-bg;
                            color: $color-info-bg;
                        }
                    }
                }
            }
        }

    }
}

.sub-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}