@media screen and (max-width: 1440px) {
    .home-page .profile-image-holder .profile-image{
        margin: 7rem auto;
    }
    .home-page .profile-image-holder .profile-image:before {
        top: 6rem;
    }
    .home-page .profile-image-holder .profile-image img {
        max-width: 300px;
    }
    .home-page .heading div.heading-home h2 {
        font-size: 1.5rem;
    }
    .info {
        width: 32%;
        .general-info {
            padding: 1.5rem;
        }
    }
    .about-page .about {
        padding: 3rem;
    }
    .skills-page .skills-description .services ul li h6 {
        font-size: 0.8rem;
    }
    .projects-page .projects ul{
        display: block;
        li{
            width: 100%;
        }
    } 
}

@media screen and (max-width: 1200px) {
    .home-page .profile-image-holder .profile-image{
        margin: 6rem auto;
        padding-right: 6rem;
    }
    .home-page .profile-image-holder .profile-image:before {
        top: 5rem;
        right: 5rem;
    }
    .info {
        width: 33%;
        .general-info {
            padding: 3rem 0.5rem 0;
            h2{
                margin-bottom: 3rem;
            }
            ul li {
                padding: 0.625rem 0.625rem 1.5rem;

                .fa, .far, .fas {
                    margin-right: 0.1rem;
                }
            }  
        }
    }
    .about-page .about {
        padding: 3rem;
    }
    .skills-page .skills-description {
        padding: 3rem 3rem 0;
    }
    .projects-page .projects .projects-filter {
        padding: 0 2rem 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .home-page .profile-image-holder .profile-image{
        margin: 5rem auto;
    }
    .home-page .profile-image-holder .profile-image:before {
        width: 7rem;
        top: 4rem;
    }
    .home-page .profile-image-holder .profile-image img {
        max-width: 200px;
    }
    .home-page .heading div.heading-home h2 {
        font-size: 1.2rem;
    }
    .info{
        width: 35%;
        .general-info ul li {
            padding: 0.625rem 0.25rem 1.5rem;
            font-size: 15px;
        }
    }
    .about-page .about {
        padding: 2rem;
    }
    .skills-page .skills-description {
        padding: 3rem 0.8rem 0;
    }
    .skills-page .skills-description .services ul li p {
        font-size: 0.8rem;
    }
    .contacts-page .contacts {
        padding: 3rem 0rem 0;
    }
    .projects-page .projects .projects-filter{
        padding: 0;
    }    
}

@media screen and (max-width: 900px) {
    header .navigation{
        width: 80%;
    }
    main{
        width: 80%;
    }
    aside.group-by-category {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    header .navigation nav ul li.nav-item a {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    .home-page .profile-image-holder .profile-image {
        padding-right: 4rem;
    }
    .home-page .profile-image-holder .profile-image:before {
        width: 4rem;
        top: 4.3rem;
        right: 3.3rem;
        border-top: 0.7rem solid #c9c6be;
        border-right: 0.7rem solid #c9c6be;
    }
    .home-page .profile-image-holder .profile-image img {
        max-width: 160px;
    }
    .home-page .heading div.heading-home h2 {
        font-size: 1rem;
    }
    .home-page .heading div.heading-home h2:nth-child(3) {
        margin-bottom: 2rem;
    }
    .home-page .heading .heading-home .button a {
        font-size: 0.8rem;
    }
    .info {
        .general-info {
            h2 {
                margin-bottom: 1rem;
            }
            ul li {
                padding: 0.625rem 0.25rem 0.5rem;
                i{
                    position: relative;
                    top: -1.3rem;
                    right: -1.2rem;
                }
                div .data{
                    display: block;
                }
                div .label{
                    padding-left: 1.2rem;
                }
            }
        }
    }
    .about-page .about .button a {
        font-size: 14px;
    }
    .skills-page .skills-description {
        padding: 3rem 0.5rem 0;
    }
    .skills-page .skills-description .services ul li:nth-child(2){
        margin-top: -1rem;
    }
    .certificates-page .certificates h1 {
        font-size: 2rem;
    }
    .contacts-page .contacts form {
        width: 80%;
    }
    .projects-page .projects {
        padding: 3rem 2rem 0;
    }
    .projects-page .projects ul li .card p{
        font-size: 0.9rem;
    }  
    .projects-page .projects ul li .card-button a {
        font-size: 0.7rem;
    }
    .project-info .slider-arrows .prev, .project-info .slider-arrows .next {
        top: 30%;
    }
}

@media screen and (max-width: 640px) {
    .about-page .about .button a {
        font-size: 12px;
        padding: 0.625rem ;
    }
    .skills-page .skills-description .services ul li:nth-child(2){
        margin-top: 0;
    }
    .info {
        .general-info {
            ul li {
                i.fa-envelope{
                    top: 1.3rem;
                    & + div{
                        margin-left: 1.4rem;
                        .data{
                            margin-left: -0.6rem;
                        }
                    }
                }
            }
        }
    }
    .certificates-page .certificates h1 {
        font-size: 1.4rem;
    }
    .certificates-page .certificates {
        padding: 3rem 1.8rem 0;
    }
    .contacts-page .contacts form {
        width: 70%;
        padding: 0;
    }
    .projects-page .projects ul li .card h6{
            font-size: 1rem;
            margin-bottom: 0;
    }
    .project-info .slider-arrows .prev, .project-info .slider-arrows .next {
        top: 25%;
    }
}

@media screen and (max-width: 576px) {
    header .navigation{
        width: 90%;
    }
    main{
        width: 90%;
    }
    aside.group-by-category {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    header .navigation{
        width: 100%;
        padding-left: 1rem;
        justify-content: space-evenly;
    }
    header .navigation nav .lang a {
        margin-right: 2rem;
    }
    header .navigation nav ul li.nav-item a {
        font-size: 0.7rem;
        padding: 0.2rem;
    }
    header .navigation nav ul li.nav-item {
        display: block;
    }
    header .navigation{
        label{ 
            display: inline-block; 
            color: white;
            background: $color-info-bg;
            font-style: normal;
            font-size: 0.8em;
            padding: 3px 10px;
            position: relative;
            right: -11rem;
            top: -1.5rem;
        }
        nav ul{ 
            display: none; 
            li.nav-item::after{
                width: 25%;
                left: 0;
                top: 80%;
            }
        }
        input:checked ~ ul { 
            display: block; 
        }
        input:checked ~ .logo { 
           margin-top: -8rem; 
        }
    }
    main{
        width: 100%;
    }
    .home-page .profile-image-holder .profile-image{
        margin: 3rem auto;
    }
    .home-page .profile-image-holder .profile-image:before {
        top: 2.3rem;
    }
    .home-page .profile-image-holder .profile-image img {
        max-width: 140px;
    }
    .home-page .heading div.heading-home .button a {
        padding: 0.2rem 1rem;
    }
    .info{
        width: 37%;
    }
    .about-page .about .button a {
        display: table;
        margin-bottom: 1rem;
    }
    .skills-page .skills-description .services ul{
        display: block;
    }
    .skills-page .skills-description .skills-bar {
        display: block;
    }
    .contacts-page{
        flex-wrap: nowrap;
    }
    .projects-page .projects {
        padding: 3rem 0.5rem 0;
    }
    aside.group-by-category {
        width: 100%;
    }
    footer p{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 425px) {
    header section .logo{
        font-size: 14px;
    }
    header .navigation nav ul li.nav-item a {
        font-size: 0.6rem;
    }
    .home-page .profile-image-holder .profile-image {
        padding-right: 2rem;
    }
    .home-page .profile-image-holder .profile-image:before {
        right: 1.3rem;
    }
    .home-page .profile-image-holder .profile-image img {
        max-width: 120px;
    }
    .contacts-page{
        flex-wrap: wrap;
    }
    .about-page, .skills-page, .certificates-page, .contacts-page, .projects-page{
        .info{
            width: 100%;
            img{
                display: none;
            }
            .general-info{
                padding: 3rem;
            }
            .general-info ul li {
                i{
                    position: inherit;
                }
                div .data{
                    display: inline-block;
                    margin-left: 0;
                }
                i.fa-envelope + div{
                    margin-left: 0rem;
                    .data{
                        margin-left: 0rem;
                    }
                    .label{
                        padding-left: 1rem;
                    }
                }
            }
        }
        .about .button a {
            display: inline-block;
        }
    }
    .contacts-page .contacts {
        padding: 3rem 0;
    }
    .project-info {
        padding: 2rem 1rem 0.2rem;
    }
    aside.group-by-category {
        padding: 0.2rem 1rem 2rem
    }
    footer p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 375px) {
    header .navigation{
        width: 100%;
        padding-left: 1rem;
        justify-content: space-evenly;
    }
    header .navigation nav .lang a {
        margin-right: 2rem;
    }
    header .navigation nav ul li.nav-item {
        display: block;
    }
    header .navigation{
        label{ 
            display: inline-block; 
            color: white;
            background: $color-info-bg;
            font-style: normal;
            font-size: 0.8em;
            padding: 3px 10px;
            position: fixed;
            right: 0;
            top: -0.1rem;
        }
        ul{ 
            display: none; 
        }
        input:checked ~ ul { 
            display: block; 
        }
        input:checked ~ .logo { 
           margin-top: -8rem; 
        }
    }
    .home-page{
        background-size: 100% 100%;
    }
    .home-page .profile-image-holder .profile-image:before {
        display: none;
    }
    .home-page .heading .heading-home {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .home-page .profile-image-holder {
        display: none;
    }
    .home-page .heading .heading-home {
        padding: 2rem;
    }
    .home-page .heading div.heading-home h2:nth-child(3) {
        margin-bottom: 2rem;
    }
    .about-page, .skills-page, .certificates-page, .contacts-page, .projects-page{
        .info .general-info{
            padding: 2rem;
        }
    }
} 