$color11: #8ad0c8;
$color21: #a8ddee;
$color31: #6fbdb7;
$color41: #b6b6d5;
$color51: #d7d5ea;
$color61: #f8f8f8;

// VARIANT 2
$color71: #a9b7c0;
$color81: #c7d8c6;
$color91: #eddac3;
$color1: #552783;
$color2: #cccbc7;
$color3: #88bbd6;
