$color1: #8ad0c8;
$color2: #a8ddee;
$color3: #6fbdb7;
$color4: #b6b6d5;
$color5: #d7d5ea;
$color6: #f8f8f8;

// VARIANT 2
$color7: #a9b7c0;
$color8: #c7d8c6;
$color9: #eddac3;
$color10: #cccbc7;
$color11: #88bbd6;