// $color11: #8ad0c8;
// $color21: #a8ddee;
// $color31: #6fbdb7;
// $color41: #b6b6d5;
// $color61: #f8f8f8;

// $color71: #a9b7c0;
// $color81: #c7d8c6;
// $color91: #eddac3;


$color-header: #552783;
$color-home: #cccbc7;
$color-info-bg: #88bbd6;
$color-info: #dcd9f3;
