---
layout: site
title: Projects
lang: en
ref: projects
---

<main>
    <section class="projects-page">
        {% include aside_info.html %}
        <div class="projects">
            <h1>My Projects</h1>
            <ul>
                {% for project in site.data.projects %}
                <li>
                    <img src="/assets/images/{{project.image}}" alt="project-image">
                    <h6>{{project.name}}</h6>
                    <p>{{project.info.en}}</p>
                    <a href="{{project.link.en}}">Read more</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>