---
layout: site
title: Projects
lang: en
ref: projects
---

<main>
    <section class="projects-page">
        {% include aside_info.html %}
        <div class="projects">
            <h1>My Projects</h1>
            <ul>
                {% for project in site.data.projects %}
                <li>
                    <img src="/assets/images/projects/{{project.image}}" alt="project-image">
                    <div class="overlay">
                        <div class="card">
                            <h6>{{project.name}}</h6>
                            <p>{{project.info.en}}</p>
                            <a href="{{project.link.en}}">Learn more</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>