@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Coming+Soon&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

html {
  font: normal 16px/1.5 'Open Sans', cursive;
}

body,
input,
textarea,
select,
option,
table,
th,
td,
hr {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0.5em 0 1em 0;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1.5em;
}

li {
  list-style-position: inside;
}

a {
  text-decoration: none;
  font-weight: bold;
}

body {
  background: url("./../assets/images/background-2498540_1920 (3).jpg");
}

main {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

header .navigation {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation nav ul {
  margin-bottom: 0;
}

header .navigation nav ul li {
  display: inline-block;
}

header .navigation nav ul li a {
  color: #552783;
  padding: 1rem;
  display: inline-block;
  text-transform: uppercase;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  color: #552783;
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("./../assets/images/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.home-page .profile-image-holder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-page .profile-image-holder .profile-image {
  position: relative;
  float: left;
  top: 25%;
  left: 45%;
  -webkit-transform: translate(-25%, -45%);
          transform: translate(-25%, -45%);
  margin: 10rem auto;
}

.home-page .profile-image-holder .profile-image:before {
  display: block;
  content: "";
  width: 15rem;
  height: 4rem;
  position: absolute;
  top: -0.9rem;
  right: -0.5rem;
  border-top: 1rem solid #cccbc7;
  border-right: 1rem solid #cccbc7;
}

.home-page .profile-image-holder .profile-image img {
  max-width: 100%;
  height: auto;
}

.heading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.heading div.animated-heading {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.heading div.animated-heading h2 {
  font-weight: bold;
  vertical-align: middle;
  font-size: 2rem;
  font-family: 'Coming Soon', cursive;
  color: #cccbc7;
}

.heading div.animated-heading h2:nth-child(3) {
  margin-bottom: 3.75rem;
}

.heading div.animated-heading a {
  padding: 0.625rem 1.25rem;
  border: 2px solid #cccbc7;
  color: #fff;
  background-color: #cccbc7;
  border-radius: 0.3rem;
}

.heading div.animated-heading a:hover {
  color: #cccbc7;
  background-color: #fff;
}

.about-page {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-page .info {
  width: 25%;
  background-color: #88bbd6;
}

.about-page .info img {
  max-width: 100%;
  height: auto;
}

.about-page .info .general-info {
  color: #ececec;
  padding: 2rem 3.125rem;
}

.about-page .info .general-info h2 {
  text-align: center;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}

.about-page .info .general-info ul li {
  padding: 0.625rem;
  font-weight: bold;
}

.about-page .info .general-info ul li i {
  margin-right: 1.25rem;
  color: #dcd9f3;
}

.about-page .info .general-info ul li .fa-envelope,
.about-page .info .general-info ul li .fa-laptop-code {
  margin-right: 1rem;
}

.about-page .info .general-info ul li .fa-mobile-alt {
  margin-right: 1.5rem;
}

.about-page .info .general-info ul li div {
  display: inline-block;
}

.about-page .info .general-info ul li div span {
  color: #dcd9f3;
}

.about-page .info .general-info ul li div a {
  color: #fff;
}

.about-page .info .general-info ul li div a:hover {
  color: #552783;
  text-decoration: underline;
  cursor: pointer;
}

.about-page .info .social-info {
  text-align: center;
}

.about-page .info .social-info a {
  color: #fff;
}

.about-page .info .social-info a i {
  margin-right: 1rem;
}

.about-page .info .social-info a i:hover {
  color: #552783;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about-page .about {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem 5rem;
  color: #552783;
}

.about-page .about h1 {
  color: #cccbc7;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

.about-page .about h2 {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
}

.about-page .about h5 {
  margin-top: 0;
}
/*# sourceMappingURL=style.css.map */