<div class="info">
  <!-- <img src="{{ permalink }}/assets/images/profile-cartoon.jpg" alt="profile image"> -->
  <img src="{{ permalink }}/assets/images/profile4.jpg" style="border: 1px solid black;" alt="profile-image">
  <div class="general-info">
    {% if page.lang == "en" %}
    <h2>General Information</h2>
    {% elsif page.lang == "bg" %}
    <h2>Основни данни</h2>
    {% endif%}
    <ul>
      <li>
        <i class="far fa-user fa-lg"></i>
        <div>
          {% if page.lang == "en" %}
          <span class="label">Name: </span>
          <span class="data">Lora Shopova</span>
          {% elsif page.lang == "bg" %}
          <span class="label">Име: </span>
          <span class="data">Лора Шопова</span>
          {% endif%}
        </div>
      </li>
      <li>
        <i class="fas fa-map-marker-alt fa-lg"></i>
        <div>
          {% if page.lang == "en" %}
          <span class="label">Location: </span>
          <span class="data">Sofia, Bulgaria</span>
          {% elsif page.lang == "bg" %}
          <span class="label">Адрес: </span>
          <span class="data">София, България</span>
          {% endif%}
        </div>
      </li>
      <li>
        <i class="far fa-envelope fa-lg"></i>
        <div>
          {% if page.lang == "en" %}
          <span class="label">Email: </span>
          {% elsif page.lang == "bg" %}
          <span class="label">Поща: </span>
          {% endif%}
          <span class="data">lshopowa@gmail.com</span>
        </div>
      </li>
      <li>
        <i class="fas fa-mobile-alt fa-lg"></i>
        <div>
          {% if page.lang == "en" %}
          <span class="label">Phone: </span>
          {% elsif page.lang == "bg" %}
          <span class="label">Телефон: </span>
          {% endif%}
          <span class="data">+359 887 000000</span>
        </div>
      </li>
      <li>
        <i class="fas fa-laptop-code fa-sm"></i>
        <div>
          {% if page.lang == "en" %}
          <span class="label">Website: </span>
          {% elsif page.lang == "bg" %}
          <span class="label">Страница: </span>
          {% endif%}
          <span class="data"> <a href="https://lorams.github.io/">lorams.github.io/</a></span>
        </div>
      </li>
    </ul>
    <div class="social-info">
      <a href="https://github.com/LoraMS" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100016618171842" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-f fa-lg"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCOsUtpaok15wrZjGtocml3w?view_as=subscriber" target="_blank"
        rel="noopener noreferrer">
        <i class="fab fa-youtube fa-lg"></i>
      </a>
      <a href="https://codepen.io/lorams" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-codepen fa-lg"></i>
        <!-- <i class="fab fa-stack-overflow fa-lg"></i> -->
      </a>
    </div>
  </div>
</div>