<header>
    <section class="navigation">
        <div class="logo">
            <a href="/">
                <i class="fas fa-code"></i>
                <span>Lora Shopova</span>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="#">Resume (Education)</a></li>
                <li><a href="#">Certificates</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
    </section>
</header>