<header>
    <section class="navigation">
        <div class="logo">
            <a href="/">
                <i class="fas fa-code"></i>
                <span>Lora Shopova</span>
            </a>
        </div>
        <nav>
            <ul>
                <li class="nav-item {% if page.url == '/about/' %}active{% endif %}"><a href="/about">About</a></li>
                <li class="nav-item"><a href="#">Education</a></li>
                <li class="nav-item"><a href="#">Certificates</a></li>
                <li class="nav-item"><a href="#">Projects</a></li>
                <li class="nav-item"><a href="#">Contacts</a></li>
            </ul>
            <span>bg</span>
            <span>en</span>
        </nav>
    </section>
</header>