<header>
    <section class="navigation">
        <div class="logo">
            <a href="/">
                <i class="fas fa-code"></i>
                <span>Lora Shopova</span>
            </a>
        </div>
        <nav>
            <div class="lang">
                <!-- {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
                {% for post in posts %} 
                <a href="{{ post.url }}" class="{{ post.lang }}">
                    {{ post.lang }}
                </a> {% endfor %} -->

                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                {% for page in pages %}
                <a href="{{ site.base-url }}{{ page.url }}" class="{{ page.lang }}">
                    <img src="./../assets/images/{{page.lang}}.png" alt="flag">
                    {{ page.lang }}
                </a>
                {% endfor %}
            </div>
            <ul>
                {% assign url = page.url|remove:'.html' %}
                {% for menu in site.t[page.lang] offset:1 %}
                <li class="nav-item {% if url == menu[1].url %}active{% endif %}"><a
                        href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
                {% endfor %}
                
                <!--
                    {% assign pages=site.pages | where:"lang", page.lang %}
                    {% for my_page in pages %}
                      {% if my_page.title %}
                      <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                      {% endif %}
                    {% endfor %}
                   -->
            </ul>
        </nav>
    </section>
</header>