<div class="info">
    <!-- <img src="{{ permalink }}/assets/images/profile-cartoon.jpg" alt="profile image"> -->
    <img src="{{ permalink }}/assets/images/pngfuel.com.png" style="border: 1px solid black;" alt="profile-image">
    <div class="general-info">
      <h2>General Information</h2>
      <ul>
        <li>
          <i class="far fa-user fa-lg"></i>
          <div>
            <span>Name: </span>
            Lora Shopova
          </div>
        </li>
        <li>
          <i class="fas fa-map-marker-alt fa-lg"></i>
          <div>
            <span>Location: </span>
            Sofia, Bulgaria
          </div>
        </li>
        <li>
          <i class="far fa-envelope fa-lg"></i>
          <div>
            <span>Email: </span>
            lshopowa@gmail.com
          </div>
        </li>
        <li>
          <i class="fas fa-mobile-alt fa-lg"></i>
          <div>
            <span>Phone: </span>
            +359 887 000000
          </div>
        </li>
        <li>
          <i class="fas fa-laptop-code fa-sm"></i>
          <div>
            <span>Website: </span>
            <a href="https://lorams.github.io/">lorams.github.io/</a>
          </div>
        </li>
      </ul>
      <div class="social-info">
          <a href="https://www.facebook.com/profile.php?id=100016618171842" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook-f fa-lg"></i>
          </a>
          <a href="https://github.com/LoraMS" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github fa-lg"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCOsUtpaok15wrZjGtocml3w?view_as=subscriber" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-youtube fa-lg"></i>
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-stack-overflow fa-lg"></i>
          </a>
      </div>
    </div>
  </div>