<div class="slider-container">
    <div class="slides fade">
    <img src="./../assets/images/projects/{{image1}}" class="slider-images" alt="project-image">
    </div>
    <div class="slides fade">
    <img src="./../assets/images/projects/{{image2}}" class="slider-images" alt="project-image">
    </div>
    <div class="slides fade">
    <img src="./../assets/images/projects/{{image3}}" class="slider-images" alt="project-image">
    </div> 
</div>
<div class="slider-arrows">
    <div class="prev" onclick="plusSlides(-1)">&#10094;</div>
    <div class="next" onclick="plusSlides(1)">&#10095;</div>
</div>
<div class="slider-dots">
    <span class="dots" onclick="currentSlide(1)"></span>
    <span class="dots" onclick="currentSlide(2)"></span>
    <span class="dots" onclick="currentSlide(3)"></span>
</div>