<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body>
    {% include header.html %}

    {{ content }}

    <aside class="group-category">

        {% assign posts=site.posts | group_by: 'group' %}
        {% for group in posts %}
            {% if group.size > 1 %}
                <h5>{{ group.name | upcase }}</h5>
                <ul>
                    {% for item in group.items %}
                        {% if page.lang == item.lang %}
                            <li>
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </aside>

    {% include footer.html  %}
</body>

</html>